@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root{
    --Yellow: hsl(47, 88%, 63%);
    --White: hsl(0, 0%, 100%);
    --Gray500: hsl(0, 0%, 42%);
    --Gray950: hsl(0, 0%, 7%);
}
body{
    font-family: "Figtree", sans-serif;
    background-color: var(--Yellow);
    display: flex;
    justify-content: center;
    align-items: center;

}
/* start-blog-preview-card */

#blog .container .coulm{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 380px;
    height: 530px;
    background-color: var(--White);
    margin-top:70px;
    border-radius: 10px;
    box-shadow: 8px 8px 1px 1px #000;
    
}
#blog .container .coulm .col-1 img{
    border-radius: 10px;
    margin-top: 20px;
}
#blog .container .coulm .col-1 h5{
    background-color: var(--Yellow);
    border-radius: 5px;
    font-weight: 800;
    width: 65px;
    margin-left: 0px;
    padding: 5px 0px 7px 10px;
}
#blog .container .coulm .col-1 p{
    font-size: 13px;
    font-weight: 500;
}
#blog .container .coulm .col-2 h2{
   
    font-weight: 800;
} 
#blog .container .coulm .col-2 p{
    width: 310px;
    opacity: 0.8;

}
#blog .container .coulm .col-2 .row{
    display: flex;
}
#blog .container .coulm .col-2 .row img{
    width: 30px;
    height: 30px;
    margin-top: 10px;
}
#blog .container .coulm .col-2 .row p{
    font-weight: 800;
    margin-left: 10px;
}
/* end-blog-preview-card */